fastapi
python-arango
pycryptodome
dnspython~=2.1.0
defang~=0.5.3
requests~=2.25.1
pandas
python-whois
discord.py
tabulate
itsdangerous
python-jose~=3.3.0
httpx
validators
click

python-dateutil~=2.8.2
